@import '../../styles/colors';
@import '../../styles/responsive';

.landing-page-container {
    .sections-container {
        max-width: calc(100vw - 700px);
        width: 100%;
        overflow: hidden;

        @include tablet {
            max-width: 100%;
            margin-top: 40px;
        }

        @include mobileLarge {
            margin-top: 20px;
        }
    }
    .section {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include mobileLarge {
            flex-direction: column-reverse;
        }

        &:first-of-type {
            margin-bottom: 72px;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-start;

            @include mobileLarge {
                flex-direction: column-reverse;
                margin-bottom: 30px;
            }
        }

        &:last-of-type {
            margin-top: 22px;
            padding-right: 62px;

            @include tablet {
                padding-right: 0;
            }

            @include mobileLarge {
                margin-top: 50px;
            }
        }

        .content-image-wrapper {
            min-width: 335px;
            height: 306px;
            position: relative;
            margin-right: 38px;

            @include mobileLarge {
                min-width: 100%;
                margin: 0;
                margin-top: 20px;
            }
        }
        .content-container {
            display: inline-block;
            min-width: 42%;

            @include mobileLarge {
                min-width: 100%
            }
    
            &.text-right {
                text-align: right;
                max-width: 28%;

                @include tablet {
                    max-width: 100%;
                }

                @include mobileLarge {
                    text-align: left;
                }
            }
            .content-heading {
                font-weight: 500;
                font-size: 31px;
                line-height: 37px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin: 19px 0 16px;
                // -webkit-text-stroke: 1px $black;
            }
            .content-description {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                opacity: 0.7;
            }
        }
    }
}